$fa-font-path: "~fork-awesome/fonts";
@import "~fork-awesome/scss/fork-awesome.scss";
@import "~leaflet.polylinemeasure/Leaflet.PolylineMeasure.css";

//@import "~chota/dist/chota.css";

// @import "_reset";
@import "_modals";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
    color: #333;
}

.block:not(:last-child) {
    margin-bottom: 1.2em;
}

.button,
[type="button"],
[type="reset"],
[type="submit"],
button {
    padding: 0.75em 1.5em;
    &.large {
        padding: 1em 2em;
    }
    + button {
        margin-left: 1.2em;
    }
}
button.el-button {
    padding: 0.8em 1em;
    &.neutral {
        border: none;
    }
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]),
select,
textarea,
textarea[type="text"] {
    padding: 0.625em;
}

.text {
    &.error {
        color: var(--color-error);
    }
}
input + .text {
    margin-top: 0.2em;
    display: block;
}
.el-form--label-top .el-form-item__label {
    line-height: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    &:not(:last-child) {
        margin-bottom: 1.2em;
    }
}

.row:not(:last-child) {
    margin-bottom: 1.2em;
}
.align-right {
    text-align: right;
}
